@model PlayViewModel

<div class="row">
    <div class="col-12">
        <h2>Your number: <b id="yourNumber">@Model.Number</b></h2>
        <button class="btn btn-info" onclick="restartGame()">Restart</button>
    </div>

    <div class="col-12">
        @for (int i = 0; i <= 9; i++)
        {
            string source = $"/images/numbers/{i}.png";
            string controlId = $"#number_{i}";

            <a id="@(controlId)" class="btn btn-default select-number" numberId="@(i)">
                <img src="@(source)" width="35" />
            </a>
        }
    </div>
    <div class="col-6 bg-info">
        www
    </div>
    <div class="col-6 bg-primary">
        wwww
    </div>
</div>



@section Scripts {
    <script src="~/js/game.js"></script>
}