@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center justify-content-center">
    @for (int i = 0; i <= 9; i++)
    {
        string source = $"/images/numbers/{i}.png";
        string controlId = $"#number_{i}";

        <a id="@(controlId)" class="btn btn-info a-number" numberId="@(i)">
            <img src="@(source)" width="75" />
        </a>
    }

</div>

<div id="number-container" class="text-center">

</div>

<div class="text-center m-4 align-bottom">
    <button class="btn btn-info" onclick="clearContainer()">Clear Container</button>
</div>
<div class="text-center m-4 align-bottom">
    <button id="btnStartGame" disabled class="btn btn-success" onclick="startGame()">Start Game</button>
</div>

@section Scripts { 
    <script src="~/js/home_index.js"></script>
}